* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;

}
.container1{
    background-color: black;
    color: aliceblue;
    padding-top:12%;
    text-align: end;
    padding-right: 2%;
    position: relative;

}
.container1 h2{
    color: rgb(151, 33, 33);
    font-size: 20px;
}
.container2{
    background: url(./bgimage.png);
    width: 50%;
}
.fa-television{
    position: absolute;
    top: 230px;
    /* left: 10px; */
    margin-left: 7px;
    background-color: aliceblue;
    color: brown;
    padding: 10px; 
    border-radius: 20px;
}
.fa-camera{
    position: absolute;
    top: 420px;
    /* left: 10px; */
    margin-left: 7px;
    background-color: aliceblue;
    color: brown;
    padding: 10px; 
    border-radius: 20px;
}
.fa-tasks{
    position: absolute;
    top: 330px;
    /* left: 10px; */
    margin-left: 7px;
    background-color: aliceblue;
    color: brown;
    padding: 10px; 
    border-radius: 20px;
}
p{
    width: 98%;
    padding: 0px 20px ;
}
h2{
    width: 95%;
}
h1{
    padding: 0 15px;
    border-right: 7px solid red;
    margin-right: 32px;
}